.mainpage {
    width: 100%;
    min-width: 1440px;
    min-height: 1600px;
    display: flex;
}

.mainpage .group {
    flex: 1;
    width: 1440px;
    position: relative;
}

.mainpage .view {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.mainpage .element {
    position: absolute;
    top: 111px;
    left: 1px;
    width: 1439px;
    height: 700px;
    object-fit: cover;
}

.mainpage .card-grid {
    display: flex;
    flex-direction: column;
    width: var(--responsive-device-width);
    align-items: flex-start;
    gap: var(--size-space-1200);
    padding: var(--size-space-1600);
    position: absolute;
    top: 862px;
    left: 127px;
    background-color: var(--color-background-default-default);
}

.mainpage .text-content-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: relative;
    flex: 0 0 auto;
}

.mainpage .subheading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--subheading-font-family);
    font-weight: var(--subheading-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--subheading-font-size);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    font-style: var(--subheading-font-style);
}

.mainpage .div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--size-space-1200);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.mainpage .testimonial-card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.mainpage .text-heading {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.mainpage .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    font-style: var(--heading-font-style);
}

.mainpage .avatar-block {
    display: flex;
    width: 139px;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: relative;
    flex: 0 0 auto;
}

.mainpage .avatar {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape-4.png);
    background-size: cover;
    background-position: 50% 50%;
}

.mainpage .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-050);
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.mainpage .text-wrapper-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    font-style: var(--body-strong-font-style);
}

.mainpage .text-wrapper-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-tertiary);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
}

.mainpage .avatar-2 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape.png);
    background-size: cover;
    background-position: 50% 50%;
}

.mainpage .avatar-3 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.mainpage .avatar-4 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape-3.png);
    background-size: cover;
    background-position: 50% 50%;
}

.mainpage .avatar-5 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
}

.mainpage .avatar-6 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape-5.png);
    background-size: cover;
    background-position: 50% 50%;
}

.mainpage .img {
    position: absolute;
    top: 1069px;
    left: 198px;
    width: 58px;
    height: 60px;
    aspect-ratio: 0.97;
}

.mainpage .element-2 {
    position: absolute;
    top: 1075px;
    left: 567px;
    width: 63px;
    height: 60px;
    aspect-ratio: 1.05;
}

.mainpage .element-3 {
    position: absolute;
    top: 1068px;
    left: 956px;
    width: 58px;
    height: 60px;
    aspect-ratio: 0.97;
}

.mainpage .element-4 {
    position: absolute;
    top: 1262px;
    left: 205px;
    width: 60px;
    height: 60px;
}

.mainpage .element-5 {
    position: absolute;
    top: 1257px;
    left: 581px;
    width: 59px;
    height: 60px;
    aspect-ratio: 0.99;
}

.mainpage .element-6 {
    position: absolute;
    top: 1262px;
    left: 949px;
    width: 65px;
    height: 60px;
    aspect-ratio: 1.09;
}

.mainpage .view-2 {
    height: 5.94%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.mainpage .rectangle {
    left: 1096px;
    position: absolute;
    top: 32px;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid;
    border-color: #000000;
}

.mainpage .rectangle-2 {
    left: 1206px;
    position: absolute;
    top: 32px;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid;
    border-color: #000000;
}

.mainpage .rectangle-3 {
    left: 1316px;
    position: absolute;
    top: 32px;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid;
    border-color: #000000;
}

.mainpage .text-wrapper-4 {
    position: absolute;
    top: 47px;
    left: 1103px;
    width: 86px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.mainpage .text-wrapper-5 {
    position: absolute;
    top: 47px;
    left: 1212px;
    width: 88px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.mainpage .text-wrapper-6 {
    position: absolute;
    top: 47px;
    left: 1322px;
    width: 88px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}